{% set title = 'ユーザ登録' %}
{% extends 'base.html.twig' %}

{% block body %}
  <div class="container p-5" style="max-width: 480px;">
    {% if register %}
      <p>ユーザ登録を完了しました。</p>
      <a href="/">トップページへ</a>
    {% else %}
      <form class="container p-5 needs-validation" action="/register" method="post" id="registration-form" novalidate>
        {{ csrf_protection() }}
        <div class="row mb-4">
          <h3>ユーザ登録</h3>
        </div>
        <div class="row mb-3">
          <label for="name-input" class="form-label">氏名</label>
          {% if check %}
            <p>{{ post.name }}</p>
            <input type="hidden" name="name" value="{{ post.name }}">
          {% else %}
            <input type="text" name="name" class="form-control" id="name-input" placeholder="山田 太郎" required>
            <div class="invalid-feedback d-block" id="name-feedback"></div>
          {% endif %}
        </div>
        <div class="row mb-3">
          <label for="email-input" class="form-label">メールアドレス</label>
          {% if check %}
            <p>{{ post.email }}</p>
            <input type="hidden" name="email" value="{{ post.email }}">
          {% else %}
            <input type="email" name="email" class="form-control" id="email-input" placeholder="name@example.com" required>
            <div class="invalid-feedback d-block" id="email-feedback"></div>
          {% endif %}
        </div>
        <div class="row mb-3">
          <label for="password-input" class="form-label">パスワード</label>
          {% if check %}
            <p>****</p>
            <input type="hidden" name="password" value="{{ post.password }}">
          {% else %}
            <input type="password" name="password" class="form-control" id="password-input" placeholder="8文字以上" required>
            <div class="invalid-feedback d-block" id="password-feedback"></div>
          {% endif %}
        </div>
      {% if check %}
      {% else %}
          <div class="row mb-3">
            <label for="password-check-input" class="form-label">もう一度パスワードを入力してください</label>
            <input type="password" name="password-check" class="form-control" id="password-check-input" required>
            <div class="invalid-feedback d-block" id="password-check-feedback"></div>
          </div>
      {% endif %}
        <div class="row my-4">
          {% if check %}
            <input type="hidden" name="register" value="1">
            <input type="submit" class="btn btn-primary" value="登録する">
          {% else %}
            <input type="hidden" name="check" value="1">
            <input type="submit" class="btn btn-primary" name="submit" value="次に進む">
          {% endif %}
        </div>
      </form>
    {% endif %}
  </div>
  <script src="/scripts/register.js"></script>
{% endblock %}
