{% set header = true %}
{% extends 'base.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block body %}
  <div class="container m-5">
    <div class="row">
      <div class="col">
        <div id="carousel" class="carousel slide">
          {% if item.images | length >= 2 %}
            <div class="carousel-indicators">
              {% for item_image in item.images %}
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ loop.index0 }}" class="{{ loop.first ? 'active' : '' }}"></button>
              {% endfor %}
            </div>
          {% endif %}
          <div class="carousel-inner">
            {% if item.images is empty %}
              <div class="carousel-item active">
                <img src="/images/200x200.png" class="d-block w-100">
              </div>
            {% else %}
              {% for item_image in item.images %}
                <div class="carousel-item {{ loop.first ? 'active' : '' }}">
                  <img src="/images/items/{{ item_image.filename }}" class="d-block w-100">
                </div>
              {% endfor %}
            {% endif %}
          </div>
          {% if item.images | length >= 2 %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">前へ</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">次へ</span>
            </button>
          {% endif %}
        </div>
      </div>
      <div class="col">
        <h3>{{ item.name }}</h3>
        <div class="mt-4">
          {{ item.description | nl2br }}
        </div>
      </div>
      <form action="cart.php" method="post" class="col col-md-auto">
        {{ csrf_protection() }}
        <input type="hidden" name="action" value="add">
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <div class="fs-4 mb-3 price" style="color: #ff0072;">{{ item.price }}</div>
        <input class="form-control my-3" name="count" type="number" min="1" step="1" value="1" style="width: 100px;">
        <button type="submit" class="btn btn-warning mx-auto my-2">カートに入れる</button>
      </form>
    </div>
  </div>
{% endblock %}
