{% set header = true %}
{% extends 'base.html.twig' %}

{% block title %}注文履歴{% endblock %}

{% block body %}
  <div class="container px-3 py-5 g-4">
    {% for purchase in purchases %}
      <div class="row mb-4">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    注文日<br>
                    {{ purchase.purchase_time }}
                  </div>
                  <div class="col-6 text-end">
                    <div>合計</div>
                    <div class="price">{{ purchase.total }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="container g-4">
              {% for item in purchase.items %}
                <div class="row row-cols-auto py-1">
                  <div class="col-4">
                    <a href="/item.php?id={{ item.id }}">
                      {% set image_path = (item.images is empty) ? '/images/200x200.png' : '/images/items/' ~ item.images[0].filename %}
                      <img src="{{ image_path }}" class="rounded" alt="{{ item.name }}" style="width: 120px; height: 120px">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="/item.php?id={{ item.id }}">
                      <h6 class="card-text">{{ item.name }}</h6>
                    </a>
                    <p class="card-text">数量: {{ item.count }}</p>
                  </div>
                  <div class="col-4">
                    <p class="card-text text-end price">{{ item.price * item.count }}</p>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
