{% set header = true %}
{% extends 'base.html.twig' %}

{% block title %}トップページ{% endblock %}

{% block body %}
  <div class="container px-3 py-5">
    <div class="row pb-3">
      <div class="col-md-auto">
        <select class="form-select" id="sort-select">
          <option value="recommended">おすすめ</option>
          <option value="price-asc">価格 - 安い順</option>
          <option value="price-desc">価格 - 高い順</option>
          <option value="date-desc">新しい順</option>
          <option value="date-asc">古い順</option>
        </select>
      </div>
    </div>
    <div class="row row-cols-auto g-4">
      {% for item in items %}
        <div class="col">
          <div class="card" style="width: 12rem;">
            <a href="/item.php?id={{ item.id }}">
              <img src="/images/200x200.png" class="card-img-top" alt="{{ item.name }}?>">
            </a>
            <div class="card-body">
              <a href="/item.php?id={{ item.id }}">
                <h5 class="card-title">{{ item.name }}</h5>
              </a>
              <p class="card-text price">{{ item.price }}</p>
            </div>
            <form action="cart.php" method="post">
              <input type="hidden" name="action" value="add">
              <input type="hidden" name="item_id" value="{{ item.id }}">
              <div class="container">
                <div class="row">
                  <button type="submit" class="btn btn-warning mx-auto">カートに入れる</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row my-4">
      <ul class="pagination justify-content-center">
        <li class="page-item {{ (current_page == 1) ? 'disabled' : '' }}">
          <a class="page-link" href="/">前へ</a>
        </li>
        {% for i in 1..num_pages %}
          <li class="page-item {{ (i == current_page) ? 'active' : '' }}">
            <a class="page-link" href="/?page={{ i }}">{{ i }}</a>
          </li>
        {% endfor %}
        <li class="page-item {{ (current_page == num_pages) ? 'disabled' : '' }}">
          <a class="page-link" href="/?page={{ current_page + 1 }}">次へ</a>
        </li>
      </ul>
    </div>
  </div>
  <script src="/scripts/index.js"></script>
{% endblock %}
